<!DOCTYPE html>
<html>
<head>

<link rel='stylesheet' href='css/foundation.min.css'>	
<link rel='stylesheet' href='css/template.css'>
 <!-- racine ds public -->
</head>
<body style="background:white">

<nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
          <font style="font-size:34px;">jet1vite</font>
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#"><font style="font-size:25px;">Main Item 1</font></a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Level 2</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#"><font style="font-size:25px;color:#DB1F32;">Invitations</font></a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#"><font style="font-size:25px;">Main Item 1</font></a>
          <ul class="dropdown">
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
 
  <!-- End Top Bar -->

   <div class="row">
     <div class="small-12 columns" style="background:white;margin-top:20px;margin-bottom:20px;border-top:2px solid #DB1F32;margin-bottom:20px;border-bottom:2px solid #DB1F32;">


     <h1> <font color="black">Invitation théatre 100 % gratuites </font> </h1>

     

    </div>

    
  </div>

    



	 
  
  
 
  <div class="row">
    <div class="small-8  large-8 columns " >
 
    <!-- Content Slider -->
 
      <div class="row">
        <div class=" hide-for-small" style="background:white;heigt:100px;" >
 
          <div id="featured" data-orbit >
              <img src="blue7.jpg" height="200" width="200" alt="slide image">
              <img src="bleu6.jpg" height="200" width="200" alt="slide image">
              <img src="bleu3.jpg" height="200" width="200" alt="slide image">
            </div>
 
      </div>

      

  </div>  <!-- fin du row -->
 
    <!-- End Content Slider -->
 
    <!-- Mobile Header -->
 
      <div class="row">
        <div class="small-8 columns show-for-small">
 
           <div id="featured" data-orbit >
              <img src="blue7.jpg" height="200" width="200" alt="slide image">
              <img src="bleu6.jpg" height="200" width="200" alt="slide image">
              
            </div>

        </div>
      </div><br>
 
    
 
 
    


 
    </div>

    

    <div class="small-3  large-3 columns " style="margin-left:20px;" >
 
    <!-- Content Slider -->
 
      <div class="row">
        <div class=" hide-for-small" style="background:white;heigt:100px;" >
 
          <div id="featured" data-orbit >
              <img src="blue7.jpg" height="200" width="200" alt="slide image">
              <img src="bleu6.jpg" height="200" width="200" alt="slide image">
              <img src="bleu3.jpg" height="200" width="200" alt="slide image">
            </div>
 
      </div>

      

  </div>  <!-- fin du row -->
 
    <!-- End Content Slider -->
 
    <!-- Mobile Header -->
 
      <div class="row">
        <div class="small-4 columns show-for-small">
 
           <div id="featured" data-orbit >
              <img src="blue7.jpg" height="200" width="200" alt="slide image">
              <img src="bleu6.jpg" height="200" width="200" alt="slide image">
              
            </div>

        </div>
      </div>

 
    </div>

   
 



    


    <div class="row">
    <div class="small-12 columns" style="background:grey;">


     <h1> Liste des théâtre </h1>
  
    <%= yield  %>

      
  
    </div>
 
    </div>


    <!-- Footer -->
 
      <footer class="row">
        <div class="small-12 columns" style="background:white;height:4OOpx;"><hr>
            <div class="row">
 
              <div class="small-6 columns">
                  <p>&copy; Copyright jet1vite 2014</p>
              </div>

 
            </div>
        </div>
      </footer>
 
    <!-- End Footer -->
  </div>
 
  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->


</body>
</html>