<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css'>	
<link rel='stylesheet' href='css/template.css'> <!-- racine ds public -->
</head>
<body>
	<body style="background-color:#FFFAF4;">
	<div  id="container">
	<div style="float:left;margin-right:40px;"	>
		
	<h1 > Boite à outils</h1>

<br>
<br>

	<form action="">

	<div class="row">	
	<select class="large-5 columns" name="jours de la semaine">
	<option value="lundi">Lundi</option>
	<option value="mardi">Mardi</option>
	<option value="mercredi">Mercredi</option>
	<option value="jeudi">Jeudi</option>
	<option value="vendredi">Vendredi</option>
	</select>
	</div>

<br>
<br>

	<a href="/clients" >liste des client de mamie  </a>

<br>
<br>
	<a href="/vetements" >liste des vetements de mamie </a>

<br>
<br>
<div style="margin-top:20px;"
	<a href="#" class="button dropdown round radius" id="bouge">Bouge ton cul Mamie</a>
	
</div>

</div>

<!--  fin du div   -->

<div style="margin-right:35px; margin-top:15px;"><img src="http://www.fabernovel.com/wp-content/uploads/2013/08/WeWorkWith_COMMUNITIES_Simplon_01.jpg" height="170" width="170"></div>


<div id="listes">
<%= yield %>

</div>

</div><!--  fin du div du container  -->





</body>
</html>