

<html>

<head>
	</head>

<body>


<div class="row">
     <div class="small-6 columns" style="background:grey;">


     <h1> Artistes </h1>

     

    </div>

    <div class="small-6 columns" style="background:grey;">


     <h1> Théâtre </h1>

    

    </div>
  </div>


<% @users.each do |user| %>

    
  <div class="row">
     <div class="small-6 columns" style="background:grey;">


     

     <li Class='red'><%= user.nom %></li>

    </div>

    <div class="small-6 columns" style="background:grey;">


     

     <li Class='red'><%= user.lieu %></li>

    </div>
  </div>





<% end %>


</html>

