<html>

<head>
	</head>

<body>
<h1> Clients de mamie</h1>

<ul class="disc">
<li>Roger  </li>

<li>nanar  </li> 

<li>henri  </li> 


<li>bernard </li> 

 <li>Roger  </li>  

 <li>Louis </li> 

<li>Michel  </li> 


</ul>






</body>

</html>

