<html>

<head>
</head>
<body>

<h1> formulaire</h1> 

<form action="/<%= @user.id %>" method="post" id="edit">  
    <input type="hidden" name="_method" value="put">  
    <textarea name="nom"><%= @user.nom %></textarea>  
     
    <input type="submit">  
  </form>  




</body>

</html>