<html>

<head>
</head>
<body>

<h1> formulaire</h1> 

<form  method='post'>

<input type="hidden" name="_method" value="put" /> 
    

 <input type='text' name='nom' >
  
 <button type='submit'> envoyer </button>




 




</form>

</body>

</html>